<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>
  <body>
		<h1>Adventures at CSSI</h1>
    <img src="https://lh6.googleusercontent.com/-6l_oGeyaTug/VanqqCBzwVI/AAAAAAAAAR4/8WFHpf1vVto/w1780-h1334-no/minions_cssi.png" height="200px">
    <form method="post" action ="">
		 <h3>Enter a name: <input type="text" name="noun1"/></h3>
		 <h3>Enter an activity: <input type="text" name="activity"/></h3>
		 <h3> Choose one: </h3>
		 <input type="radio" name="teacher" value="Liza">Liza
		 <br>
		 <input type="radio" name="teacher" value="Jessie">Jessie
     <br>
		 <input type="radio" name="teacher" value="Matthew">Matthew
     <br>
     <input type="radio" name="teacher" value="Georgia">Georgia
     <br>
     <input type="radio" name="teacher" value="Carter">Carter
		 <h3>Enter a Celebrity's Name:<input type="text" name="celebrity"/></h3>
		 <h3>Enter a TV Show:<input type="text" name="show"/></h3>
    <h3><input type="checkbox" name="fun" value="FUNNNN!!!!!!!!!!!"> Check here if you are having fun at CSSI<br>
		<p><input type="submit" value="Submit"></p>
 </form>
  </body>
</html>
