<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Minion Personality Quiz</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>Which minion are you?</h1>
    <img src="http://media.giphy.com/media/EOpZ7XsVfTN2E/giphy.gif" width=300 height=200>
    <form method="post" action ="">
    <p class="question">1. What is your favorite thing to do?</p>
      <ul class="answers">
      <input type="radio" name="favoritething" value="missiles">Rockets and Missiles<br/>
      <input type="radio" name="favoritething" value="laughing">Playing and Laughing<br/>
      <input type="radio" name="favoritething" value="BFF">Hanging out with your BFF<br/>
      <input type="radio" name="favoritething" value="bottom">Making photocopies of your bottom<br/>
      <input type="radio" name="favoritething" value="boss">Pretending to be boss<br/>
      <input type="radio" name="favoritething" value="sing">Singing<br/>
      <input type="radio" name="favoritething" value="kiss">Being kissed by Agnes<br/>
      </ul>
    <p class="question">2. What is your desired height?</p>
      <ul class="answers">
      <input type="radio" name="height" value="short">Short<br/>
      <input type="radio" name="height" value="medium">Medium<br/>
      <input type="radio" name="height" value="tall">Tall<br/>
      </ul>
    <p class="question">3. What is your ideal hairstyle?</p>
      <ul class="answers">
      <input type="radio" name="hairstyle" value="flat">Flat and center-parted<br/>
      <input type="radio" name="hairstyle" value="clump">A tiny clump of hair<br/>
      <input type="radio" name="hairstyle" value="stick_straight">Sticking straight up<br/>
      <input type="radio" name="hairstyle" value="spikey_bald">Spikey and balding<br/>
      </ul>
    <p class="question">4. How many eyes do you want to have?</p>
      <ul class="answers">
      <input type="radio" name="eyes" value="one_eye">One<br/>
      <input type="radio" name="eyes" value="two_eyes">Two<br/>

      </ul>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
